name: Build and Deploy Code

on: [push, pull_request]

jobs:
  deploy:
    environment:
      name: production
    runs-on: ubuntu-20.04
      steps:
      - name: pulling git repo
        uses: actions/checkout@v3   
      - name: deploy to ubuntu
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.PROD_HOST}}
          username: ${{secrets.PROD_USERNAME}}
          password: ${{secrets.PROD_PASSWORD}}
          script: |
            cd app/src
            git pull
            echo ${{secrets.PROD_PASSWORD}}  | sudo -S sudo systemctl restart api